/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #d1d1d1;
}

h1 {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    line-height: 80px;
    vertical-align: middle;
}

.container {
    max-width: 760px;
    margin: 0 auto;
    margin-top: 30px;
}

.button {
    border-radius: 10px;
    padding: 7px;
    border: 1px solid;
}

ul,
ol {
    list-style-position: inside;
    list-style-type: none
}

li {
    margin: 15px 0;
}

ul>li {
    margin: 30px 0;
}

ol>li {
    font-size: 16px;
}

/* utils */

.triangolo {
    height: 7px;
    margin-right: 5px;
    vertical-align: middle;
}

.check {
    font-size: 8px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.cross {
    font-size: 8px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}

.post {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    padding: 7px;
    border-radius: 40px;

}

/* header */

.logo-box {
    background-color: #fff;
    height: 80px;

}

.logo-box>img {
    margin-left: 20px;
    vertical-align: middle;
}


/* main */

.main-header {
    padding: 10px 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: solid white;
    border-bottom: 1px solid #d1d1d1;
    background-color: #fff;

}

#b-task {
    color: #fff;
    background-color: #1E90FF;

}

#b-section {
    color: gray;
    background-color: #fff;
}

.list-box {
    padding: 10px 0 10px 30px;
    margin-bottom: 50px;
    border: solid white;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* varius post color  */

.blue {
    background-color: #45ABEA;
}

.purple {
    background-color: #9C72E4;
}

.green {
    background-color: #64C0A9;
}

.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #D863A1;
}

.acid {
    background-color: #B0C926;
}